@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Cerberus_UI.Data
@inject WeatherForecastService ForecastService

<div class="card border-primary shadow">

    <h3 class="card-header bg-primary text-light">Weather forecast</h3>

    <div class="card-body">

@if (forecasts == null)
{
    <p>Preparing the good stuff...</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-75" role="progressbar"/>
    </div>
}
else
{
    <p>This component demonstrates fetching data from a service.</p>

    <table class="table">
        <thead class="text-secondary">
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

    </div>
</div>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1500);

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
